body {
    background-color: #000000;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/* HEADINGS*/
.header--main {
    font-weight: normal;
    font-size: 50px;
    color: #ffffff;
}
.header--secondary {
    color: #ffffff;
    font-weight: 300;
    font-size: 42px;
}

.header--sub-header {
    color: grey;
    font-size: 21px;
}
    

/* LINKS*/
.link--cta{
    font-size: 16px;
    color: aquamarine;
}